* {
    margin: 0;
}

nav {
    height: 60px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 15px 125px;
}

.header-logo {
    font-size: 26px;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 40px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.header-links a:hover {
    color: #3B82F6;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    /* transition: 0.3s; */
}


.hero-box {
    display: flex;
    height: 400px;
    gap: 50px;
    color: #F9FaF8;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.hero-box img {
    width: 250px;
    border-radius: 6px;
}

.info-box {
    display: flex;
    height: 300px;
    gap: 1%;
    background-color: #F9FaF8;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
}

#tiny-text {
    font-size: 12px;
    color: #9CA3AF;
    margin-top: -10px;
}

.card p {
    font-family: "Roboto", sans-serif;
    color: #6B7280;
    font-size: 16px;
    max-width: 150px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.icon {
    background-color: #E5E7EB;
    border: #3B82F6 2px solid;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
}

.icon img {
    border-radius: 10px;
}

h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 36px;
    color: #1F2937;
    font-weight: 900;
}
.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.hero-text button {
    width: 125px;
    height: 35px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.hero-text h1 {
   font-size: 48px;
   color: #F9FaF8;
   font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.quote-box {
    height: 300px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    gap: 15px;
    
}

.quote-box #quote-text {
    font-family: "Roboto", sans-serif;
    color:#6B7280;
    font-size: 25px;
    text-align: left;
}

.quote-box #quote-author {
    font-family: "Roboto", sans-serif;
    color:#1F2937;
    font-size: 15px;
    font-weight: 600;
    align-self: flex-end;
}

.spacer {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.blue-box {
    background-color: #3B82F6;
    display: flex;
    height: 125px;
    width: 1225px;
    border-radius: 5px;
    justify-content: space-evenly;
}

.blue-box button {
    width: 125px;
    height: 35px;
    border: white 2px solid;
    background-color: #3B82F6;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;

}
.blue-box p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    text-align: left;
}

.blue-box h2 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 25px;
    text-align: left;
}

footer {
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FaF8;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}